{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block css_block %}

{% endblock %}

{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <div class="container">
        <h3></h3>
        <form method="post">
            {% csrf_token %}
            <textarea cols="100" rows="5" placeholder="Write Answer" name="answer"></textarea><br>
            <input type="submit" class="btn btn-primary ask-question" value="Submit Answer">
        </form>
    </div>
{% endblock %}