{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block css_block %}

{% endblock %}

{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <textarea cols="100" rows="5" placeholder="Ask a Question" name="question"></textarea><br>
            <input type="submit" class="btn btn-primary ask-question">

        </form>
    </div>

{% endblock %}