{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>My Blog</title>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Custom CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Custom JavaScript -->
        <script src="{% static 'js/script.js' %}"></script>

        <!-- Include Font Awesome -->
        <script src="https://use.fontawesome.com/6aa1176ce5.js"></script>

        {% block css_block %}
        {% endblock %}

    </head>

    <body id="page-top">

        {%  block header %}
        {%  endblock %}

        {% block body %}
        {% endblock %}



        {% block js_block %}
        {% endblock %}
    </body>
</html>
