{% load staticfiles %}

{% block header %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{% url 'dashboard:ask_question' %}">Ask a Question</a></li>
                <li><a href="{% url 'dashboard:profile' %}">My Profile</a></li>
                <li><a href="{% url 'dashboard:stats' %}">Dashboard Stats</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'dashboard:register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="{% url 'dashboard:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="{% url 'dashboard:logout' %}"><span class="glyphicon glyphicon-log-outlog"></span> Log out</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}