{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block css_block %}

{% endblock %}

{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <div class="container">
        {% if questions is None %}
            <h3 class="text-success">Please Ask Questions and Write Answers to display here</h3>
        {% endif %}

        {% for question in questions %}
            <div class="card">
                <h4 class="card-header"> {{ question.question_text }} </h4><hr>
                <div class="card-block">
                    <p class="card-body">
                        <b>Answer: </b>{{ question.question.answer_text }} <br> <hr>
                    </p>
                    <p class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <a type="submit" class="btn btn-primary" href="{% url 'dashboard:answer' question.id %}">Answer</a>
                            </div>

                            <div class="col-md-9">
                                <a href="{% url 'dashboard:upvote' question.id %}" class="upvote-icon"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i><b> {{ question.question.up_votes }} </b></a>
                                <i class="fa fa-thumbs-down fa-2x" aria-hidden="true" style="color: #880000; padding-right: 80px"></i>
                                answered by: <b> {{ question.user.first_name }} </b>
                            </div>
                        </div>
                    </p>
                </div>
            </div><br><br>
        {% endfor %}
    </div>
{% endblock %}




