{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block css_block %}

{% endblock %}

{% block body %}
    {% include 'dashboard/homepage_header.html' %}



<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Login Form</h1>
                    <div class="description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log in:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in!</button>
                        </form>
                    </div>
                    <div>
                        <h5>New to site?</h5>
                        <a class="btn btn-block btn-success" href="{% url 'dashboard:register' %}">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}