{% extends 'dashboard/base.html' %}
{% load staticfiles %}


{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <div class="container">
        <h4>Hi, {{ user.first_name }}</h4>
        <a class="btn btn-success" href="{% url 'dashboard:logout' %}">Log out</a>
        <h3 class="text-success">See all of your Questions Asked, Answers Written and your up voted Answers </h3>
        <h3>Questions Asked by me</h3>
        <div>
            {% for question in questions %}
                <div class="card">
                    <h4 class="card-header"> {{ question.question_text }} </h4>
                </div><br>
            {% endfor %}
            <h3>Answers written by me</h3>
            <p>
                {% for answer in answers %}
                    {% if answer is not None %}
                        <h4 class="card">Question: {{ answer.question.question_text }}<br><br>
                            Answer: {{ answer }}
                        </h4>
                    {% endif %}
                {% endfor %}
            </p>
            <h3>Up Voted Answers by me</h3>
            {% for answer in answers %}
                {% if answer.up_votes > 0 %}
                    <h4 class="card">Question: {{ answer.question.question_text }}<br><br>
                            Answer: {{ answer }}
                    </h4>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}