{#{% extends 'dashboard/base.html' %}#}
{##}
{#{% load staticfiles %}#}
{##}
{#{% block css_block %}#}
{##}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    {% include 'dashboard/homepage_header.html' %}#}
{#    <div class="container">#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#                {{ user_form.as_p }}#}
{#            <input type="submit" class="btn btn-primary ask-question">#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}

{% extends 'dashboard/base.html' %}


{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <section>

        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 form-box">
                            <form action="" method="post" class="registration-form">


                                <div class="form-group">
                                    <fieldset>
                                        <div class="form-top">
                                            <div class="form-top-left">

                                                <h6 class="text-success">New Here?</h6>
                                                <h4 class="text-success">Register with us</h4>

                                            </div>
                                            <div class="form-top-right">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </div>

                                        <div class="form-bottom">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {% for field in user_form %}
                                                <p class="field-label">
                                                    {{ field.label }}:
                                                </p>
                                                <p class="field">
                                                    {{ field }}
                                                </p>
                                                {% endfor %}
                                            </div>
                                            <input type="submit" class="btn btn-next btn-primary btn-sm pull-right"><br>
                                        </div>
                                    </fieldset>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}