{% extends 'dashboard/base.html' %}

{% load staticfiles %}


{% block body %}
    {% include 'dashboard/homepage_header.html' %}
    <div class="container">
        <h2 class="text-success">See Upvoted answers in last hour and Most up voted answer</h2>
        <h3> Ordered by Highest Up voted answer in last hour</h3>
        {% for upvotes in upvoted_last_hour %}
            <div class="card">
                <h4 class="card-header">{{ upvotes.question.question_text }}</h4>
                <h4 class="card-header">{{ upvotes.answer_text }}</h4>
            </div><br>
        {% endfor %}
        <h3> Most Up Voted Answer</h3>
        {% for max_upvoted in max_upvoted_answers %}
            <div class="card">
                <h4 class="card-header">{{ max_upvoted.question.question_text }}</h4>
                <h4 class="card-header">{{ max_upvoted.answer_text }}</h4>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}